<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wi  dth=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Simple twitter</title>
     <!-- Axios CDN -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
     integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
     crossorigin="anonymous"></script>
    <!-- CDN Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <!-- VueJS development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <!-- Register an account -->
        <div class="card">
            <i class="fab fa-twitter fa-lg fa-fw"></i>
            <!-- TODO when I register, the create ab account title continue in screen -->
            <h2>Create an account</h2>
            <div class="register" v-if="!registered">
                <!-- v-on directive with submit argument listen for a submit event -->
                <!-- .prevent modifier prevents the page from refreshing when the form is submitted -->
                <!-- registerAccount is a method that is created in main.js, methods of the Vue instance -->
                <form id="register" v-on:submit.prevent="registerAccount">
                    <div class="form_group">
                        <label for="name">Name
                            <!-- this shows input character counter so the user can know how many characters are left -->
                            <span> {{ name.length + '/' + max_length }} </span>
                        </label>
                        <!-- v-model directive binds the input to the data -->
                        <input type="text" v-model="name" id="name" maxlength="max_length" required>
                    </div>
                    <div class="form_group">
                        <label for="email">Email
                            <span> {{ email.length + '/' + max_length }}</span>
                        </label>
                        <input type="email" v-model="email" :maxlength="max_length" required>
                    </div>
                    <div class="form_group">
                        <label for="password">Password
                            <span> {{ password.length + '/' + max_pass_length }}</span>
                        </label>
                        <input type="password" v-model="password" :maxlength="max_pass_length" required>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>

            <div v-if="error.length > 0"> {{error}}</div>
            <!-- Add a tweet -->
            
            <div class="tweetBox" v-else>
                <h2>Welcome {{userData.name}} write your first tweet</h2>
                <form v-on:submit.prevent="sendTweet">
                    <div class="form_group">
                        <label for="tweet">
                            Send your Tweet
                            <span> {{ tweetMsg.length + '/' + max_tweet }}</span>
                        </label>
                        <!-- textarea label is for multi-line input control -->
                        <textarea name="tweet" id="tweet" cols="30" rows="10" v-model="tweetMsg" :maxlength="max_tweet"></textarea>
                    </div>
                    <button type="submit">Tweet</button>
                
                </form>
            </div>
        </div>

        </div>



        <!-- Show all tweets -->
        <div class="card_tweets" v-if="tweets.length > 0">
            <section class="tweets">
                <h2>Tweets</h2>
                <div class="tweetMsg" v-for="(tweet, index) in tweets">
                    <p>
                        {{ tweet.text}}
                    </p>
                    <div class="tweetDate">
                        <i class="fas fa-calendar fa-sm fa-fw"></i>{{ tweet.date }}
                    </div>
                    <div class="tweet_remove" @click="removeTweet(index)">
                        <span class="remove">Delete this tweet <i class="fas fa-trash fa-sm fa-fw"></i></span>
                    </div>
                    <div class="tweet_remove" @click="removeTweet(index)">
                        <span class="remove">Delete this tweet <i class="fas fa-trash fa-xs fa-fw"></i></span>
                    </div>
                </div>
            </section>
        </div>
        <!-- v-else to show a message in case there are no tweets stored inside the tweets array -->
        <div v-else>
            No tweets to show yet!
        </div>
    </div>


    <script src="./main.js"></script>
</body>

</html>